* {
    padding: 10;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;

  }
  body {
    background: #eee;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
  }
  
  header {
    background-color: #13f55e;
    margin: auto -16px;
    padding: 16px 32px;
    
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    text-align: center;
    font-family: "McLaren", cursive;
    font-weight: 200;
    font-size: 30px;
  }
  
  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 15px;
    height: 150px;
    width: 400px;
    margin: 16px;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    float: left; /* If you still need floating, keep this */
}

  .note h1 {
    
    font-size: 3.5em;
    margin-bottom: 6px;
  
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .button {
    background-color: #0a58ff;
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    
  }